.container {
    text-align: center;
    padding: 0 50px 50px 50px;
}

#inputs {
    width: 100%;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

textarea#input {
    width: 80%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #2196F3;
    resize: vertical;
}

#inputs div {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

#inputs span {
    color: #2196F3;
    font-weight: bold;
}

.header {
    color: #fff;
    background-image: url("http://stockclipspro.com/images/hd1080video/sensationalclouds1/14.gif");
    background-size: 100%;
    background-position: bottom;
    height: 25em;
}

.myTitle {
    padding-top: 50px;
    text-shadow: 2px 2px 0px #000000;
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    height: 5em;
    font-size: 20px;
}

.myTitle h1 {
    font-size: 100px;
}

#depth {
    border: 2px solid #2196F3;
    padding-left: 6px;
}

.error-input {
    animation: blink .25s step-end 4 alternate;
    -webkit-animation: blink .25s step-end 4 alternate;
}

@keyframes blink {
    50% {
        border-color: red;
    }
}

#output {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 8px;
    border: 1px dashed #2196F3;
    border-radius: 24px;
    overflow: auto;
    height: auto;
    word-wrap: break-word;
}

#output span {
    padding: 3px;
}

#output span:nth-child(2n+1) {
    color: blue;
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

#output span:nth-child(2n+2) {
    color: red;
}